*.rbc
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/uploads
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml
config/application.yml
config/database.yml
config/cloudinary.yml
/.bundle
/vendor/bundle
.ruby-version
.ruby-gemset
.rvmrc
.byebug_history
.DS_Store
/config/database.production.yml
/config/secrets.production.yml
/config/application.production.yml
/config/cloudinary.production.yml
