@media (max-width: 768px) {
    a.navbar-brand {
    float: left;
}

.check-input-grp {
    padding: 35px 20px;
}

.area-channel-sect {
    height: auto;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
}

.detail-caro1.blue-opa {
    width: 100%;
}

h2.det-title {
    font-size: 31px;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 25px;
}

.benefit-det {
    width: 175px;
    padding: 10px 5px 15px;
    margin: 10px 5px;
}

section.about-mega, .starnet-det.text-center {
    padding: 0 25px;
}

.singkatnya.blue-bg.col-xs-12.col-md-12 p {
    padding: 0 15px;
}

.col-md-7.col-xs-12 {
    padding: 10px 15px 15px;
}

.btn-group-vacan.col-md-3.col-sm-4.col-xs-6 {
    padding: 5px;
}

a.btn-vacan.col-xs-12.border-1px-white.no-padding {
    height: 240px;
}

a.btn-vacan.col-xs-12.border-1px-white.no-padding {
    height: 280px;
}

.btn-group-vacan a div div h3 {
    font-size: 20px;
}

.btn-group-vacan a span {
margin: 0 15px 15px;
color: white;
padding: 5px;
position: absolute;
width: 95px;
right: 5px;
bottom: 5px;
}

.mega-benefit {
    margin-top: 35px;
    margin-bottom: 55px;
}

.channel-bdg, .channel-bogor {
    margin: 60px 0;
    padding: 5px;
}
}



@media (max-width: 736px) {
.product-list a {
    padding: 15px 14px;
    text-transform: uppercase;
    margin: 15px 6px;
}

.big-one {
    font-size: 65px;
}

.benefit-det {
    width: 160px;
    padding: 10px 3px 15px;
    margin: 3px 3px;
}

.other-vacan {
    padding: 55px 0px;
}

}



@media(max-width: 640px) {
    .channel-btn-name {
    background: rgba(255,255,255,0.75);
    padding: 30px 20px;
    display: inline-block;
    color: #232323;
}

.mega-logo-tag img {
    height: 130px;
    margin-bottom: 20px;
}

.mega-logo-tag img {
    height: 130px;
    margin-bottom: 20px;
}

.navbar-brand img {
    height: 27px;
}

.channel-btn-name .font-18 {
    font-size: 14px;
}

.channel-btn-name .font-18 .font-24 {
    font-size: 18px;
}
}



@media(max-width: 460px) {
.channel-bdg, .channel-bogor {
    margin-top: 60px;
}

.title-channel-area {
    left: -1px;
}

.btn-group-vacan a span {
margin: 0 15px 15px;
color: white;
padding: 5px;
position: absolute;
width: 95px;
right: 5px;
bottom: 5px;
}

a.btn-vacan.col-xs-12.border-1px-white.no-padding {
    height: 250px;
}

.check-opening h1 {
    font-size: 33px;
    margin-top: 33px;
}

.harga-paket {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: auto;
    padding: 35px 30px;
}

.harga-paket a {
    margin: 0px 0 15px;
    width: 100%;
}

.channel-paket {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.channel-paket li {
    margin: 0px 15px 0;
}

.channel-paket li a {
    padding: 20px 5px;
    width: 95px;
    font-size: 12px;
}

}

@-moz-document url-prefix() {
.citibank_btn {
background:url('../images/citi.jpg');
text-indent: -9999px;
width: 75px;
}
}

.col-md-3.col-md-offset-4.col-sm-6.col-sm-offset-3.well {
    width: 300px;
    margin: 0 auto;
    display: block;
    float: none;
}

/** responsive style active storage **/
.panel-heading.single .row div div .col-sm-3 {
    margin: 10px 0;
}

@media (min-width: 1024px) {
section.sec-package {
    height: auto;
}

section#sec-product .container, section.sec-package .container {
    position: relative;
    min-height: 100vh !important;
}

section#sec-product .row, section.sec-package .row {
    position: absolute;
    top: 50%;
    transform: translateY(-56%);
    width: 100% !important;
}
}
