/** custom icon **/
@charset "UTF-8";

@font-face {
  font-family: "custom-font";
  src:font-url("custom-font.eot");
  src:font-url("custom-font.eot?#iefix") format("embedded-opentype"),
    font-url("custom-font.woff") format("woff"),
    font-url("custom-font.ttf") format("truetype"),
    font-url("custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-satelit:before {
  content: "\61";
}
.icon-wifi:before {
  content: "\62";
}


/** universal **/
.margin-0 {
    margin: 0;
}

.no-border {
    border: none !important;
}

.mega-yellow {
    color: #ffea00
}

.bg-transparent {
    background-color: transparent !important;
}

.uppercase {
    text-transform: uppercase;
}

.mega-blue {
    color: #0072bc;
}

.bold {
    font-weight: 700;
}

.font-18 {
    font-size: 18px;
}

.font-12 {
    font-size: 12px;
}

.font-24 {
    font-size: 24px;
}

.white {
    color: white;
}

.full-img {
    width: 100%;
}

/**{
     font-family: 'Lato', sans-serif;
   -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif
}

.bold {
    font-weight: 900;
}

.italic {
    text-transform: italic;
}

.gap-50 {
    padding: 0 50px;
}

/** navbar **/
.navbar-megavision {
    padding: 10px 0;
}

.navbar-default {
    padding: 10px 20px;
}

.navbar-nav>li>a {
    padding: 10px 0;
}

.check-area-par {
    padding-top: 15px;
}

.check-area-btn {
    width: auto;
    background: #0072bc;
    text-align: center;
    color: white;
    padding: 3px 15px;
    font-size: 10px;
    float: right;
}

.check-area-btn:hover {
    background: #185e8c;
    color:white;
    text-decoration: none;
}

.fa-map-marker {
    margin-right: 5px;
}

.nav li a {
    text-transform: uppercase;
}

.nav li a {
    margin-left: 20px;
}

.nav li a.active {
    color:#0072bc;
}

.navbar-brand {
    display: block;
    float: right;
    padding: 10px;
    height: auto;
}

.navbar-brand img {
    height: 50px;
}

.navbar-default {
    padding: 5px 20px;
}

.navbar-default {
    background-color: rgba(255,255,255,0.7);
    border-color: transparent;
}

/** carosel sect **/
.caro-sect {
    height: 100vh;
    overflow: hidden;
}

.caro-mega1 .item {
    position: relative;
}

.blue-opa {
    background: rgba(0,114,188,0.6);
}

.detail-caro1.blue-opa {
    position: absolute;
    right: 0;
    height: 100%;
    width: 45%;
}

.detail-caro1 div {
  top: 45%;
  transform: translateY(-45%);
  position: absolute;
  width: 100%;
  padding: 0 15%;
}

h2.det-title {
    font-size: 38px;
    color: white;
    text-align: center;
    width: 100%;
}

.jadwal-mov {
    margin-top: 30px;
    display: block;
    text-align: center;
}

/** channel-list **/

.channel-bdg, .channel-bogor {
    padding: 35px;
    text-align: center;
    display: inline-block;
    margin-top: 120px;
}

.area-channel-sect {
    height: 500px;
}

.border-1px.outer-border {
    border: 1px solid white;
    padding: 15px;
    display: inline-block;
}

.channel-btn-name {
    background: rgba(255,255,255,0.75);
    padding: 45px 75px;
    display: inline-block;
    color: #232323
}

.border-1px-white {
    border: 1px solid white
}

a:hover .border-1px.outer-border {
    border-color: #ffea00 !important;
}

a:hover .channel-btn-name {
    background: rgba(255,234,0,0.75);
    color: white;
}

/** starnet-sect **/
.logo-star img {
    height: 125px;
}

.starnet-sect, .product-sect,.about-mega, .q-and-a-sect, .about-us-sect, .job-vacan-sect, .contact-sect {
    padding-top: 70px;
    padding-bottom: 70px;
}

sub.font-12 {
    margin-left: -30px;
}

.star-price h2 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.star-price p {
    margin: 0;
}

.star-price {
    display: inline-block;
    margin: 10px;
    border: 1px solid #0072bc;
    padding: 10px 15px;
}

/** product **/
.big-one {
    font-size: 100px
}

.product-list a {
    display: inline-block;
    text-align: center;
    border: 3px solid #0072bc;
    padding: 25px 55px;
    text-transform: uppercase;
    margin: 15px 30px;
}

.product-list a:hover {
    text-decoration: none;
    color: white;
    background: #0072bc;
}

.product-sect h2.mega-blue {
    margin-bottom: 30px;
}

.mega-logo-tag img {
    height: 150px;
}

.mega-benefit {
    margin-top: 35px;
}

.benefit-img {
    width: 75px;
}

.benefit-det h5 {
    margin: 5px 0;
}

.benefit-det {
    display: inline-block;
    border: 1px solid #0072bc;
    width: 175px;
    padding: 10px 10px 15px;
    margin: 0 25px;
}

/** question and answer **/
#accordion-question {
    margin: 50px 0 0 ;
}

.panel-default.bg-transparent {
    border: none;
}

.question-title {
    padding-bottom: 20px;
}

.border-bot-1px {
    border-bottom: 1px solid white;
}

h4.panel-title.mega-yellow.bold.border-bot-1px {
    padding-bottom: 25px;
}

.panel-body.white.no-border {
    padding-top: 0px;
}

/** about-us **/
.blue-bg {
    background-color: #0072bc;
}

.history-det {
    height: 100% !important;
}

.short-history {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-thumb.col-md-5.col-xs-12.no-padding {
    height: 321px;
}

.singkatnya.blue-bg.col-xs-12.col-md-12 h3 {
    margin-bottom: 25px;
    padding: 5px 30px 0;
}

.singkatnya.blue-bg.col-xs-12.col-md-12 p {
    padding: 0 30px;
}

.no-padding {
    padding: 0;

}

hr.border-white-1px {
    width: 100%;
    border: 1px solid white;
    margin: 2px;
}

.about-us-sect h2 {
    margin-bottom: 30px;
}

.bg-white-opa {
    background-color: rgba(255,255,255,0.6);
}

.btn-group-vacan a div div h3 {
    margin: 0;
    padding: 20px 0;
    color: black;
}

.about-us-sect {
    padding-bottom: 0;
}

.about-us-sect h2 {
    margin-bottom: 55px;
}

.img-vacan img {
    width: 38%;
    margin-bottom: 25px;
}

.btn-group-vacan a .bg-white-opa {
    margin-bottom: 15px;
}

.btn-group-vacan a span {
    margin: 0 15px 15px;
    color: white;
    padding: 5px;
}

.btn-group-vacan a:hover .bg-white-opa {
    background-color: rgba(201,226,54,0.6);
}

.btn-group-vacan a:hover {
    text-decoration: none;
}

.btn-group-vacan a:hover .bg-white-opa h3 {
    color: white;
    text-decoration: none;
}

.btn-group-vacan a.border-1px-white:hover, .btn-group-vacan a:hover span {
    border-color: #ffea00;
}

.btn-group-vacan a:hover span {
    color: #ffea00;
}

.btn-group-vacan a.border-1px-white:hover .border-bot-1px {
    border-color: #ffea00;
}

.job-vacan-sect .container h2 {
    margin-bottom: 55px;
}


/** contact-us **/
.no-margin {
    margin: 0;
}

.contact-sect .container h2 {
    margin-bottom: 55px;
}

.address-det {
    margin-bottom: 20px;
}

.contact-input .form-control,.contact-input .textarea {
    border-radius: 0;
    background-color: transparent !important;
    color: white !important;
    border-color: white;
}

.contact-input .textarea {
    width: 100%;
    padding: 5px 12px;
}

.btn-send {
    border:1px solid white;
    padding: 5px 15px;
    text-align: center;
    color: white;
}

.btn-send:hover {
    background-color: #ffea00;
    text-decoration: none;
}

.contact-input .form-control::-webkit-input-placeholder, .contact-input .textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:white;
}
.contact-input .form-control::-moz-placeholder, .contact-input .textarea::-moz-placeholder { /* Firefox 19+ */
  color:white;
}
.contact-input .form-control:-ms-input-placeholder, .contact-input .textarea:-ms-input-placeholder { /* IE 10+ */
  color:white;
}
.contact-input .form-control:-moz-placeholder, .contact-input .textarea:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/** footer **/
.bg-grey {
    background-color: #707070;
}

.footer {
    padding: 50px 20px;
    position: relative;
}

.social i {
    margin: 0 7px;
}

.to-top {
    padding: 7px 12px;
    position: absolute;
    top: -33px;
    margin-left: -19px;
}

/** channel style **/

.channel-list-page {
    min-height: 100vh;
}

.absolute-parent {
    position: relative;
}

.absolute {
    position: absolute;
}

.bg-white {
    background-color: white;
}

.channel-list-page {
    padding: 165px 0 55px;
}

.title-channel-area {
    padding: 6px 15px;
    top: -17px;
    min-width: 280px;
}

.title-channel-area img {
    width: 23px;
    margin-right: 8px;
}

.title-channel-area h4 {
    margin: 2px 0 0;
}

.channel-list-box {
    padding: 45px 15px 25px;
}

/*vacancy*/

.vacan-location {
    margin-bottom: 45px;
}

.vacancy-page {
    min-height: 100vh;
}

.vacancy-detail {
    margin-bottom: 55px;
}

.vacancy-page {
    padding: 165px 0 0;
}

.other-vacan {
    padding: 75px 25px;
}

.btn-vacan.active .bg-white-opa {
    background-color: rgba(201,226,54,0.6);
}

.btn-vacan.active {
    text-decoration: none;
}

.btn-vacan.active .bg-white-opa h3 {
    color: white;
    text-decoration: none;
}

.btn-vacan.active, .btn-vacan.active span {
    border-color: #ffea00;
}

.btn-vacan.active span {
    display: none;
}

.btn-vacan.active span {
    color: #ffea00;
}

.btn-vacan.active .border-bot-1px {
    border-color: #ffea00;
}
