<% left_package = '' %>
<% right_package = '' %>
<% left_channel_group = '' %>
<% right_channel_group = '' %>
<% left_channel_price = '' %>
<% right_channel_price = '' %>

<% channel_cities_type.channel_packages.order(package_id: :asc).each_with_index do |channel_package, package_idx| %>
  
  <% channel_package.prices.order(amount: :asc).each do | channel_price | %>
    <% link_to_subscribe = public_subscribe_path(slug_id: params['area_slug_id'], package_id: channel_package.package.slug, price_id: channel_price.id) %>
    <% price = format_number_to_price_tag(channel_price.amount.to_i)%>
    <% speed_up_to = [channel_price.up_to_speed, channel_price.unit].join(" ")%>
    
    <% if package_idx%2 == 0 %>
      <% left_channel_price += paket_left_package_channel_price_html.render({"link_to_subscribe" => link_to_subscribe, "price" => price, 'speed_up_to' => speed_up_to}, { strict_variables: true }).html_safe%>
    <% else %>
      <% right_channel_price += paket_right_package_channel_price_html.render({"link_to_subscribe" => link_to_subscribe, "price" => price, 'speed_up_to' => speed_up_to}, { strict_variables: true }).html_safe%>
    <% end %>

  <% end %>

  <% channel_package.channel_groups.each_with_index do |channel_group, idx| %>
    <% line_break = '' %>

    <% if idx != 0 && (idx%2) == 1 %>
      <% line_break = '<br />'%>
    <% end %>

    <% channel_name = '' %>
    <% channel_group.channels.each do |channel| %>
      <% channel_name += '<p class="white">'+ channel.name + '</p>'%>
    <% end %>

    <% if package_idx%2 == 0 %>
      <% left_channel_group += paket_left_package_channel_group_html.render({"channel_group_title" => channel_group.title, "channel_name" => channel_name, 'line_break' => line_break}, { strict_variables: true }).html_safe%>
    <% else %>
      <% right_channel_group += paket_right_package_channel_group_html.render({"channel_group_title" => channel_group.title, "channel_name" => channel_name, 'line_break' => line_break}, { strict_variables: true }).html_safe%>
    <% end %>

  <% end %>

  <% left_package += paket_left_package_html.render({"package_name" => channel_package.package.name, "payment_title" => channel_package.package.payment_title, 'package_description' => channel_package.description , 'left_package_channel_group' => left_channel_group, 'left_package_channel_price' => left_channel_price}, { strict_variables: true }).html_safe %>
  <% right_package += paket_right_package_html.render({"package_name" => channel_package.package.name, "payment_title" => channel_package.package.payment_title, 'package_description' => channel_package.description, 'right_package_channel_group' => right_channel_group, 'right_package_channel_price' => right_channel_price}, { strict_variables: true }).html_safe %>
  
<% end %>

<%=@paket_package_list_html.render({"left_package" => left_package, "right_package" => right_package}, { strict_variables: true }).html_safe %>

