
<section class="select-package col-md-12 col-sm-12">
  <div class="border-1px white">
    <label class="select-label"><%=label%></label>
    <%=select_tag "sub[#{label.downcase}]", options_for_select(options, selected), class: "cs-select cs-skin-rotate" %>
    <!-- <select class="cs-select cs-skin-rotate" id="<%=label.parameterize %>">
      <option value="1">Stegosaurus</option>
      <option value="2">Velociraptor</option>
      <option value="3">Spinosaurus</option>
      <option value="4">Archaeopteryx</option>
      <option value="5">Apatosaurus</option>
    </select> -->
  </div>
</section>

