<!-- channel list -->
<section class="channel-list-page" style="background: url(<%= asset_url('sample-channel-list.jpg') %>);background-size: cover;background-position: center;">
  <div class="container">
    <div class="channel-list-box col-md-12 col-xs-12 border-1px-white absolute-parent">
      <div class="title-channel-area absolute bg-white">
        <%= image_tag 'channel.png', :class => 'pull-left' %>
        <h4 class="bold mega-blue uppercase"><%= @channel_city.city %> Channel List</h4>
      </div>
      <div class="channel-name">
        <% @channel_city.channels.each do |channel| %>
          <div class="col-md-3 col-sm-4 col-xs-6 font-12 white"><%= channel.name %></div>
        <% end %>
      </div>
    </div>
  </div>
</section>
