<section class="check-area-page">
  <div class="container-fluid blue-bg">
    <div class="container">
      <div class="check-opening">
        <h1 class="white uppercase bold">Cek Area Anda</h1>
      </div>
    </div>
  </div>

  <div id="available" class="container-fluid tersedia">
    <div class="notif-area container">
      <span class="ok-color bold"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Area terjangkau</span>
    </div>
  </div>
  <div id="unavailable" class="container-fluid tdk-tersedia">
    <div class="notif-area container">
      <span class="no-color bold"><i class="fa fa-warning" aria-hidden="true"></i> Area tidak terjangkau</span>
    </div>
  </div>
  <div class="map">
    <input id="check-area-search" class="controls" type="text" placeholder="Search for places...">
    <!-- <div id="check-area-map"></div> -->
    <br/>
  </div>
    <br/>
    <br/>
    <br/>
</section>

<%= content_for :javascript do %>
    <script>
        $( "#check-area-search" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "<%=public_autocomplete_area_path%>",
              dataType: "json",
              data: {
                q: request.term
              },
              success: function( data ) {
                $("#available").hide();
                $("#unavailable").hide();
                response( $.map( data, function( item ) {
                  return $.extend(item, ({label: item.area, value: item.id, id: item.id}));
                }));
              }
            });
          },
          select: function( event, ui ) {
            event.preventDefault();
            if(ui.item.id == undefined){

              $("#available").hide();
              $("#unavailable").show();
            }else{
              $("#available").show();
              $("#unavailable").hide();
              $( "#check-area-search" ).val(ui.item.label)
            }
          },
          open: function() {
            $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
          },
          close: function() {
            $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
          }
        });
        </script>

<% end %>
