development:
  secret_key_base: 44dc466ae1f9846065916997f366917a2ccfbda4d9e29b47b906dcd7b933cb6a080eef423c891a856d967390062fda0c8a721b29ffe936d49e820bcb7d3c7a97
  admin_email: rifqi.thefi.fauzi@gmail.com
  recaptcha_site_key: 6LcDURoUAAAAALzEIPo5J8x7UOPgcyxAOe7eHWA9
  recaptcha_secret_key: 6LcDURoUAAAAABO4UIsczqPZ4st-L1sXQjIbYepF

test:
  secret_key_base: f789643b7b13b7fcbeb8ac541cc41f3c19570c6b763133af687d4b131bffa55dea670dd1f4f0bdb4a972f62cad6dcbe47f535cef42cfa23ddc949836140fe3c7
  admin_email: rifqi.thefi.fauzi@gmail.com
  recaptcha_site_key: 6LcDURoUAAAAALzEIPo5J8x7UOPgcyxAOe7eHWA9
  recaptcha_secret_key: 6LcDURoUAAAAABO4UIsczqPZ4st-L1sXQjIbYepF

production:
  secret_key_base: =fill=
  database_username: =fill=
  database_password: =fill=
  admin_email: rifqi.thefi.fauzi@gmail.com
  recaptcha_site_key: 6LcDURoUAAAAALzEIPo5J8x7UOPgcyxAOe7eHWA9
  recaptcha_secret_key: 6LcDURoUAAAAABO4UIsczqPZ4st-L1sXQjIbYepF
