/*
 *= require shared/bootstrap.min
 *= require shared/font-awesome.min
 *= require shared/public
 *= require_self
 */

.notification {
  position: fixed;
  top: 5em;
  right: 2em;
  z-index: 99999;
}
