/*
 *= require shared/cs-select
 *= require shared/cs-skin-rotate
 *= require shared/normalize
 *= require shared/bootstrap.min
 *= require shared/font-awesome.min
 *= require shared/public
 *= require shared/public-responsive
 *= require shared/jquery.dataTables
 *= require shared/jquery-ui
 *= require_self
 */

.notification {
  position: fixed;
  top: 5em;
  right: 2em;
  z-index: 99999;
}
